@import '@krds-ui/core/dist/style.css' layer(base);
@import 'tailwindcss';
/* @import 'tw-animate-css'; */

@theme {
  /* Display */
  --text-display-l--font-size: 66px;
  --text-display-l--line-height: 150%;
  --text-display-l--letter-spacing: 1px;

  --text-display-m: 50px;
  --text-display-m--line-height: 150%;
  --text-display-m--letter-spacing: 1px;

  --text-display-s: 40px;
  --text-display-s--line-height: 150%;
  --text-display-s--letter-spacing: 1px;

  --text-display-l-mobile: 40px;
  --text-display-l-mobile--line-height: 150%;
  --text-display-l-mobile--letter-spacing: 1px;

  --text-display-m-mobile: 32px;
  --text-display-m-mobile--line-height: 150%;
  --text-display-m-mobile--letter-spacing: 1px;

  --text-display-s-mobile: 25px;
  --text-display-s-mobile--line-height: 150%;
  --text-display-s-mobile--letter-spacing: 1px;

  /* Heading */
  --text-heading-l: 50px;
  --text-heading-l--line-height: 150%;
  --text-heading-l--letter-spacing: 1px;

  --text-heading-m: 40px;
  --text-heading-m--line-height: 150%;
  --text-heading-m--letter-spacing: 1px;

  --text-heading-s: 32px;
  --text-heading-s--line-height: 150%;
  --text-heading-s--letter-spacing: 1px;

  --text-heading-l-mobile: 40px;
  --text-heading-l-mobile--line-height: 150%;
  --text-heading-l-mobile--letter-spacing: 1px;

  --text-heading-m-mobile: 32px;
  --text-heading-m-mobile--line-height: 150%;
  --text-heading-m-mobile--letter-spacing: 1px;

  --text-heading-s-mobile: 25px;
  --text-heading-s-mobile--line-height: 150%;
  --text-heading-s-mobile--letter-spacing: 1px;

  /* Title */
  --text-title-xxl: 32px;
  --text-title-xxl--line-height: 150%;
  --text-title-xxl--letter-spacing: 1px;

  --text-title-xl: 25px;
  --text-title-xl--line-height: 150%;

  --text-title-l: 21px;
  --text-title-l--line-height: 150%;

  --text-title-m: 19px;
  --text-title-m--line-height: 150%;

  --text-title-s: 17px;
  --text-title-s--line-height: 150%;

  --text-title-xs: 15px;
  --text-title-xs--line-height: 150%;

  --text-title-xxl-mobile: 25px;
  --text-title-xxl-mobile--line-height: 150%;
  --text-title-xxl-mobile--letter-spacing: 1px;

  --text-title-xl-mobile: 25px;
  --text-title-xl-mobile--line-height: 150%;

  --text-title-l-mobile: 21px;
  --text-title-l-mobile--line-height: 150%;

  --text-title-m-mobile: 19px;
  --text-title-m-mobile--line-height: 150%;

  --text-title-s-mobile: 17px;
  --text-title-s-mobile--line-height: 150%;

  --text-title-xs-mobile: 15px;
  --text-title-xs-mobile--line-height: 150%;

  /* Body */
  --text-body-l: 19px;
  --text-body-l--line-height: 150%;

  --text-body-m: 17px;
  --text-body-m--line-height: 150%;

  --text-body-s: 15px;
  --text-body-s--line-height: 150%;

  --text-body-l-mobile: 19px;
  --text-body-l-mobile--line-height: 150%;

  --text-body-m-mobile: 17px;
  --text-body-m-mobile--line-height: 150%;

  --text-body-s-mobile: 15px;
  --text-body-s-mobile--line-height: 150%;

  /* Detail */
  --text-detail-l: 17px;
  --text-detail-l--line-height: 150%;

  --text-detail-m: 15px;
  --text-detail-m--line-height: 150%;

  --text-detail-s: 13px;
  --text-detail-s--line-height: 150%;

  --text-detail-l-mobile: 17px;
  --text-detail-l-mobile--line-height: 150%;

  --text-detail-m-mobile: 15px;
  --text-detail-m-mobile--line-height: 150%;

  --text-detail-s-mobile: 13px;
  --text-detail-s-mobile--line-height: 150%;

  /* Label */
  --text-label-l: 19px;
  --text-label-l--line-height: 150%;

  --text-label-m: 17px;
  --text-label-m--line-height: 150%;

  --text-label-s: 15px;
  --text-label-s--line-height: 150%;

  --text-label-xs: 13px;
  --text-label-xs--line-height: 150%;

  --text-label-l-mobile: 19px;
  --text-label-l-mobile--line-height: 150%;

  --text-label-m-mobile: 17px;
  --text-label-m-mobile--line-height: 150%;

  --text-label-s-mobile: 15px;
  --text-label-s-mobile--line-height: 150%;

  --text-label-xs-mobile: 13px;
  --text-label-xs-mobile--line-height: 150%;

  /* Link */
  --text-link-l: 19px;
  --text-link-l--line-height: 150%;

  --text-link-m: 17px;
  --text-link-m--line-height: 150%;

  --text-link-s: 15px;
  --text-link-s--line-height: 150%;

  --text-link-l-mobile: 19px;
  --text-link-l-mobile--line-height: 150%;

  --text-link-m-mobile: 17px;
  --text-link-m-mobile--line-height: 150%;

  --text-link-s-mobile: 15px;
  --text-link-s-mobile--line-height: 150%;
}

@utility text-display-l {
  font-size: var(--text-display-l--font-size);
  line-height: var(--text-display-l--line-height);
  letter-spacing: var(--text-display-l--letter-spacing);
}
